SUBSYSTEM=="ieee80211", ACTION=="add|change", ATTR{macaddress}=="b8:27:eb:2a:8d:46", KERNEL=="phy0", \
  RUN+="/usr/sbin/iw phy phy0 interface add ap0 type __ap", \
  RUN+="/sbin/ip link set ap0 address b8:27:eb:2a:8d:46"
